<section class="section is-small">
    <div class="columns">
        <div class="column has-text-left">
            <h1 class="title">{{playlist.name}}</h1>
            <h2 class="subtitle">
                {{playlist.description}}
                <span class="tag is-info">{{playlist.userDisplayName}}</span>
                {{#if playlist.public}}
                    <span class="tag is-danger">public</span>
                {{else}}
                    <span class="tag is-danger">private</span>
                {{/if}}
            </h2>
        </div>
        {{#if playlist.owned}}
        <div class="column has-text-right is-narrow">
            <div class="columns">
                {{#if playlist.public}}
                    <div class="column is-narrow">
                        <form method="post" action="/playlist-visibility/{{playlist.id}}">
                            <input class="is-info button" type="submit" value="Make private"/>
                            <input class="is-info button" type="hidden" value="{{playlist.public}}" name="pub"/>
                        </form>
                    </div>
                {{else}}
                    <div class="column is-narrow">
                        <form method="post" action="/playlist-visibility/{{playlist.id}}">
                            <input class="is-info button" type="submit" value="Make public"/>
                            <input class="is-info button" type="hidden" value="{{playlist.public}}" name="pub"/>
                        </form>
                    </div>
                {{/if}}
                <div class="column is-narrow">
                    <form method="post" action="/playlist-delete/{{playlist.id}}">
                        <input class="is-danger button" type="submit" value="Delete playlist"/>
                    </form>
                </div>
            </div>
        </div>
        {{/if}}
    </div>
    <table class="table is-fullwidth">
        <thead>
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Artist</th>
            <th>Album</th>
            <th class="is-narrow">Duration</th>
            <th class="is-narrow">...</th>
        </tr>
        </thead>
        <tbody>
        {{#each playlist.songs}}
            <tr>
                <th style="vertical-align: inherit;">
                    <figure class="image is-64x64">
                        <img src="{{imageUrl}}" alt="song album image"/>
                    </figure>
                </th>
                <th style="vertical-align: inherit;">{{title}}</th>
                <th style="vertical-align: inherit;">{{artist}}</th>
                <th style="vertical-align: inherit;">{{album}}</th>
                <th style="vertical-align: inherit;">{{fancyDuration duration}}</th>
                <th style="vertical-align: inherit;">{{>addToPlaylistButton currentUser=../currentUser songId=id owned=../playlist.owned playlistId=../playlist.id}}</th>
            </tr>
        {{/each}}
        </tbody>
    </table>
</section>
