<section class="section is-small">
    <div class="columns">
        <div class="column has-text-left">
            <h1 class="title">Songs</h1>
        </div>
        <div class="column has-text-right is-narrow">
            <form method="get" action="/songs">
                <div class="field has-addons">
                    <div class="control">
                        <input class="input" type="text" placeholder="Find a song" name="query">
                    </div>
                    <div class="control">
                        <button class="button is-info" type="submit">
                            Search
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <table class="table is-fullwidth">
        <thead>
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Artist</th>
            <th>Album</th>
            <th class="is-narrow">Duration</th>
            <th class="is-narrow">...</th>
        </tr>
        </thead>
        <tbody>
        {{#each songs}}
            <tr>
                <th style="vertical-align: inherit;">
                    <figure class="image is-64x64">
                        <img src="{{imageUrl}}" alt="song album image"/>
                    </figure>
                </th>
                <th style="vertical-align: inherit;">{{title}}</th>
                <th style="vertical-align: inherit;">{{artist}}</th>
                <th style="vertical-align: inherit;">{{album}}</th>
                <th style="vertical-align: inherit;">{{fancyDuration duration}}</th>
                <th style="vertical-align: inherit;">{{>addToPlaylistButton currentUser=../currentUser songId=id}}</th>
            </tr>
        {{/each}}
        </tbody>
    </table>
</section>
